.id-card-preview {
    border: dashed 1px #d9d9d9;
    text-align: center;
    width: 49.5%;
    height: 0;
    padding-bottom: 30%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#id-card-error-msg {
    color: #a94442;
}