{% extends "waybills/customer_base.html" %}

{% block head_title %}
    关于士奇快递
{% endblock %}

{% block boxed %}
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="content-wrap">
                    <div class="main-content">
                        <div class="main-content-wrap">
                            <div class="content-inner">


                                <article class="blog-post" id="intro">
                                    <div class="entry-wrapper">
                                        <div class="entry-content">
                                            <div>
                                                <h1>企业概况</h1>
                                                <p>
                                                    美国士奇快递是集美中进出口跨境电商配套服务，国际仓储物流服务为一体的大型综合物流快递公司。我们整合上游资源,从清关渠道,核心技术,航空时效上为个人及企业一站式解决国际速运的仓储,派送,转运,进出口,业务上的需求,
                                                    我们以至诚服务、客户为本、信誉至上、团队协作为核心价值观，全力打造一体化的全球物流供应链综合服务平台。
                                                </p>

                                                <p>
                                                    未来我们将开展更多业务，为客户提供最全面、最安全、最高效、最快捷的物流服务，同时我们也将提高我们的服务质量和技术水平，使士奇成为美国境内最具规模、最值得信赖的华人物流公司。
                                                </p>

                                                <h5>主营业务</h5>
                                                <p>
                                                    士奇快递为全美华人及跨境电商的买家和卖家提供优质、安全、方便、快捷的物流服务。包括国际快递、出口报关、国际运输、货运转发、目的地国进口清关、电子商务仓储、从包装到存放的仓储综合解决方案、订单管理、异地配送、电子商务供应链咨询以及其他定制物流服务等服务,
                                                    满足不同买家与卖家需求的一站式物流解决平台。
                                                </p>

                                                <h5>战略目标</h5>
                                                <p>全球布局,打造一体化的物流供应链综合服务平台。保持在全美华人中美快递、物流、仓储服务的领先优势,
                                                    加强地面作业能力和快递容量、扩大网络覆盖地域; 加大IT投入和应用, 缩短货物转运周期,
                                                    不断推出新产品，争做合同物流领域中的领跑者, 为客户提供更优质的服务。
                                                </p>

                                                <h5>合作伙伴
                                                </h5>
                                                <p>合作快递公司都是经过严格的筛选和评估,选择口碑和资质突出的快递公司作为平台供应商,如 UPS、USPS、FEDEX、DHL、EMS 等。
                                                </p>
                                            </div>
                                        </div><!-- /.entry-content -->
                                    </div><!-- /.entry-wrapper -->
                                </article><!-- /.blog-post -->

                                <article class="blog-post" hidden="hidden" id="idea">
                                    <div class="entry-wrapper">
                                        <div class="entry-content">
                                            <div>
                                                <h1>企业理念</h1>
                                                <h5>核心价值观</h5>
                                                <p>我们全力追求达成对客户的承诺,我们相信并尊重员工;我们诚信经营,正直为人;我们追求极致不断探索和创新;我们力求创造卓越的成就和贡献
                                                </p>

                                                <h5>企业使命</h5>
                                                <p>
                                                    认真对待每一个包裹,认真对待每一位客户,认真完成每一次派送的使命,让我们的客户享受最优质和最正规的服务,让每一个员工实现个人价值,让我们的企业承担起行业内的责任和义务</p>

                                                <h5>企业愿景</h5>
                                                <p>以科技和人才为驱动力,将士奇速度打造成具有影响力的华人国际速递品牌</p>

                                                <h5>质量方针</h5>
                                                <p>高效生产,安全送达,极致体验,携手共赢</p>

                                                <h5>服务理念</h5>
                                                <p>士奇速递,与您同行,安全高效,祝您进击,用我们的真诚成就你我共同的方向</p>

                                                <h5>服务口号</h5>
                                                <p>对客户满意的承诺是我们的源动力和我们的唯一信仰</p>
                                                <p>以人为本是我们的永远准则</p>
                                                <p>接受挑战,已科学和人才的驱动战胜和突破自我是我们每一个士奇人的必备精神</p>
                                                <p>团队精神是我们士奇人的通行保障</p>
                                                <p>助人为乐是我们士奇人的幸福根源</p>

                                            </div>
                                        </div><!-- /.entry-content -->
                                    </div><!-- /.entry-wrapper -->
                                </article><!-- /.blog-post -->

                                <article class="blog-post" hidden="hidden" id="contact">
                                    <div class="entry-wrapper">
                                        <div class="entry-content">
                                            <div>
                                                <h1>联系我们</h1>
                                                <i class="fa fa-location-arrow fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;地址:
                                                STM Group Inc, 77
                                                Glendale Ave,Edison, Edison Business
                                                Park, NJ 08817 <br/>
                                                <i class="fa fa-phone fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;美国电话:
                                                (732)-317-4312 <br/>
                                                <i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;邮箱:
                                                info@huskyex.com<br/>
                                                <i class="fa fa-qq fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;QQ:
                                                3259818188<br/>
                                            </div>
                                        </div><!-- /.entry-content -->
                                    </div><!-- /.entry-wrapper -->
                                </article><!-- /.blog-post -->

                            </div><!-- /.content-inner -->

                        </div><!-- /.main-content-wrap -->
                    </div><!-- /.main-content -->

                    <div class="sidebars">
                        <div class="sidebars-wrap">
                            <div class="sidebar">
                                <div class="widget widget_categories">
                                    <h4 class="widget-title">服务支持</h4>
                                    <ul>
                                        <li>
                                            <a onclick="showPost('intro')">企业概况</a><br>
                                            <a onclick="showPost('idea')">企业理念</a><br>
                                            <a onclick="showPost('contact')">联系我们</a><br>
                                        </li>
                                    </ul>
                                </div><!-- /.widget_categories -->

                            </div><!-- /.sidebar -->
                        </div><!-- /.sidebars-wrap -->
                    </div><!-- /.sidebars -->
                </div><!-- /.content-wrap  -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.blog -->
{% endblock %}

{##}
{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="col-sm-3">#}
{#            <h2>关于士奇</h2>#}
{#            <ul class="nav nav-tabs nav-stacked">#}
{#                <li class="active"><a href="#intro" data-toggle="tab" aria-expanded="true"><h5>企业概况</h5></a></li>#}
{#                <li><a href="#idea" data-toggle="tab" aria-expanded="true"><h5>企业理念</h5></a></li>#}
{#                <li><a href="#contact" data-toggle="tab" aria-expanded="true"><h5>联系我们</h5></a></li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="col-sm-9">#}
{#            <div id="myTabContent" class="tab-content">#}
{#                <div class="tab-pane fade active in" id="intro">#}
{#                    <h1>企业概况</h1>#}
{#                    <p>#}
{#                        美国士奇快递是集美中进出口跨境电商配套服务，国际仓储物流服务为一体的大型综合物流快递公司。我们整合上游资源,从清关渠道,核心技术,航空时效上为个人及企业一站式解决国际速运的仓储,派送,转运,进出口,业务上的需求,#}
{#                        我们以至诚服务、客户为本、信誉至上、团队协作为核心价值观，全力打造一体化的全球物流供应链综合服务平台。#}
{#                    </p>#}
{##}
{#                    <p>未来我们将开展更多业务，为客户提供最全面、最安全、最高效、最快捷的物流服务，同时我们也将提高我们的服务质量和技术水平，使士奇成为美国境内最具规模、最值得信赖的华人物流公司。#}
{#                    </p>#}
{##}
{#                    <h5>主营业务</h5>#}
{#                    <p>#}
{#                        士奇快递为全美华人及跨境电商的买家和卖家提供优质、安全、方便、快捷的物流服务。包括国际快递、出口报关、国际运输、货运转发、目的地国进口清关、电子商务仓储、从包装到存放的仓储综合解决方案、订单管理、异地配送、电子商务供应链咨询以及其他定制物流服务等服务,#}
{#                        满足不同买家与卖家需求的一站式物流解决平台。#}
{#                    </p>#}
{##}
{#                    <h5>战略目标</h5>#}
{#                    <p>全球布局,打造一体化的物流供应链综合服务平台。保持在全美华人中美快递、物流、仓储服务的领先优势, 加强地面作业能力和快递容量、扩大网络覆盖地域; 加大IT投入和应用, 缩短货物转运周期,#}
{#                        不断推出新产品，争做合同物流领域中的领跑者, 为客户提供更优质的服务。#}
{#                    </p>#}
{##}
{#                    <h5>合作伙伴#}
{#                    </h5>#}
{#                    <p>合作快递公司都是经过严格的筛选和评估,选择口碑和资质突出的快递公司作为平台供应商,如 UPS、USPS、FEDEX、DHL、EMS 等。#}
{#                    </p>#}
{#                </div>#}
{#                <div class="tab-pane fade" id="idea">#}
{#                    <h1>企业理念</h1>#}
{#                    <h5>核心价值观</h5>#}
{#                    <p>我们全力追求达成对客户的承诺,我们相信并尊重员工;我们诚信经营,正直为人;我们追求极致不断探索和创新;我们力求创造卓越的成就和贡献#}
{#                    </p>#}
{##}
{#                    <h5>企业使命</h5>#}
{#                    <p>认真对待每一个包裹,认真对待每一位客户,认真完成每一次派送的使命,让我们的客户享受最优质和最正规的服务,让每一个员工实现个人价值,让我们的企业承担起行业内的责任和义务</p>#}
{##}
{#                    <h5>企业愿景</h5>#}
{#                    <p>以科技和人才为驱动力,将士奇速度打造成具有影响力的华人国际速递品牌</p>#}
{##}
{#                    <h5>质量方针</h5>#}
{#                    <p>高效生产,安全送达,极致体验,携手共赢</p>#}
{##}
{#                    <h5>服务理念</h5>#}
{#                    <p>士奇速递,与您同行,安全高效,祝您进击,用我们的真诚成就你我共同的方向</p>#}
{##}
{#                    <h5>服务口号</h5>#}
{#                    <p>对客户满意的承诺是我们的源动力和我们的唯一信仰</p>#}
{#                    <p>以人为本是我们的永远准则</p>#}
{#                    <p>接受挑战,已科学和人才的驱动战胜和突破自我是我们每一个士奇人的必备精神</p>#}
{#                    <p>团队精神是我们士奇人的通行保障</p>#}
{#                    <p>助人为乐是我们士奇人的幸福根源</p>#}
{##}
{#                </div>#}
{#                <div class="tab-pane fade" id="contact">#}
{#                    <h1>联系我们</h1>#}
{#                    <i class="fa fa-location-arrow fa-fw"></i>地址: STM Group Inc, 77 Glendale Ave,Edison, Edison Business#}
{#                    Park, NJ 08817 <br/>#}
{#                    <i class="fa fa-phone fa-fw"></i>美国电话: (732)-317-4312 <br/>#}
{#                    <i class="fa fa-envelope-o fa-fw"></i>邮箱: info@huskyex.com<br/>#}
{#                    <i class="fa fa-qq fa-fw"></i>QQ: 3259818188<br/>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}

{% block footer %}{% include "controls/footer.html" %}{% endblock %}

{% block scripts %}
    <script>
        // 跳转到锚点
        let u = window.location.hash;
        if (u) {
            showPost(u.slice(1))
        }

        function showPost(tag_name) {
            let articles = $('article');
            articles.attr('hidden', 'hidden');
            let post = $('#' + tag_name);
            post.removeAttr('hidden');
            console.log(post)
        }
    </script>
{% endblock %}
