{% extends "manage/manage_base.html" %}

{% block content %}
    <h4>我的绩效</h4>
        <table class="table table-bordered table-responsive">
            <tbody>
            {% for o in qs_person %}
                <tr>
                    <td> {{ o.status__name }}</td>
                    <td> {{ o.cnt }}</td>
                </tr>
                {#                <tr><td colspan="3"></td> </tr>#}
            {% endfor %}
            </tbody>
        </table>

    {% if isWarehouseManager %}
        <h4>运单状态统计</h4>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                {% for k in qs.keys %}
                    <th> {{ k }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            <tr>
                {% for v in qs.values %}
                    <td> {{ v }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <hr/>

        <h4>当天处理情况</h4>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                {% for k in qs_today.keys %}
                    <th> {{ k }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            <tr>
                {% for v in qs_today.values %}
                    <td> {{ v }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

        <hr/>
    {% endif %}

    {% if isPackageManager %}
        <h4>总体打包绩效</h4>
        <table class="table table-bordered table-responsive">
            <tbody>
            {% for o in qs_group %}
                <tr>
                    <td> {{ o.create_dt }}</td>
                    <td> {{ o.cnt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h4>单人打包绩效</h4>
        <table class="table table-bordered table-responsive">
            <tbody>
            {% for o in qs_group_by_person %}
                <tr>
                    <td> {{ o.create_dt }}</td>
                    <td> {{ o.user__username }}</td>
                    <td> {{ o.cnt }}</td>
                </tr>
                {#                <tr><td colspan="3"></td> </tr>#}
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <h4>可用韵达单号</h4>
    <p>未使用: {{ cn_tracking_cnt }}</p>
{% endblock %}