{% extends "manage/manage_base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load static %}
{% block head_title %}
    提单管理
{% endblock %}
{% block css %}
    <style type="text/css">
        .delete > a {
            color: red
        }
    </style>

{% endblock css %}


{% block content %}

    {% crispy form form.helper %}

    {% crispy action_form action_form.helper %}

    {% render_table table %}


    <div class="modal" id="send_out_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 id="send_out_modal_head" style="text-align: center">出库确认</h5>
                    <p id="send_out_modal_body_text"></p>
                    <div class="form-group">
                        出库时间(美国):
                        <input type='text' class="form-control" id='send_out_dtpick'/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="send_out_modal_confirm" type="button" class="btn btn-danger">确认出库</button>
                    <input id="send_out_air_waybill_id" type="hidden" value="">
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id='cn_deliver_modal' role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 id="cn_deliver_modal_head" style="text-align: center">国内派送确认</h5>
                    <p id="cn_deliver_modal_body_text"></p>
                    <div class="form-group">
                        国内派送时间(中国):
                        <input type='text' class="form-control" id='cn_deliver_dtpick'/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="cn_deliver_modal_confirm" type="button" class="btn btn-danger">确认</button>
                    <input id="cn_deliver_air_waybill_id" type="hidden" value="">
                </div>
            </div>
        </div>
    </div>

    <div class='modal' id="update_airline_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 id="update_airline_modal_head" style="text-align: center">更新航班信息</h5>
                    <p id="update_airline_modal_body_text"></p>
                    <div class="form-group">
                        起飞时间(美国):
                        <input type='text' class="form-control" id='take_off_dtpick'/>
                        落地时间(中国):
                        <input type='text' class="form-control" id='arrive_dtpick'/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="update_airline_modal_confirm" type="button" class="btn btn-danger">确认</button>
                    <input id="update_airline_waybill_id" type="hidden" value=""/>
                </div>
            </div>
        </div>
    </div>

    <div id='file_modal' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">文件操作</h4>
                </div>
                <div id="file_modal_body" class="modal-body">
                    结果:<p id="file_action_msg"></p>
                    文件:<a id="file_link" href="" target="_blank">链接</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src='{% static "js/utils1017.js" %}'></script>
    <script src='{% static "js/collapse.js" %}'></script>
    <script src='{% static "js/transition.js" %}'></script>
    <script src='{% static "js/moment-with-locales.min.js" %}'></script>
    <script src='{% static "js/bootstrap-datetimepicker.min.js" %}'></script>
    <script>
        $(function () {
            select_all_populate();
            ajaxSetup();
            set_up_datepicker();


            send_out_messages = {
                0: "出库成功",
                1: "提单已出库, 请勿重复出库",
                2: "提单不存在"
            };

            css = {
                0: "success",
                1: "danger",
                2: "danger"
            };

            var send_out_modal = $('#send_out_modal');
            var airwaybill_hid = $('#send_out_air_waybill_id');
            var send_out_confirm_btn = $('#send_out_modal_confirm');
            var send_out_dtpick = $('#send_out_dtpick');

            var modal_text = $('#send_out_modal_body_text');
            var update_airline_modal = $('#update_airline_modal');
            var update_airline_modal_confirm = $('#update_airline_modal_confirm');
            var update_airline_waybill_id = $('#update_airline_waybill_id');
            var take_off_dtpick = $('#take_off_dtpick');
            var arrive_dtpick = $('#arrive_dtpick');
            var update_airline_modal_body_text = $('#update_airline_modal_body_text');

            var cn_deliver_dtpick = $('#cn_deliver_dtpick');

            var channel_sel = $('#id_channel');
            var status_sel = $('#id_status');
            var action_select = $('#id_actions');

            var dt_start = $("#id_dt_start");
            var dt_end = $("#id_dt_end");
            var search_input = $("#id_search");

            var exc_btn = $('#submit-id-exc');
            var file_modal = $('#file_modal');
            var file_action_msg = $('#file_action_msg');
            var file_link = $('#file_link');

            cn_deliver_dtpick.datetimepicker({
                locale: 'zh-cn',
                format: 'MM-DD-YYYY HH:mm'
            });

            send_out_dtpick.datetimepicker({
                defaultDate: moment(),
                locale: 'zh-cn',
                format: 'MM-DD-YYYY HH:mm'
            });

            take_off_dtpick.datetimepicker({
                locale: 'zh-cn',
                format: 'MM-DD-YYYY HH:mm'
            });

            arrive_dtpick.datetimepicker({
                locale: 'zh-cn',
                format: 'MM-DD-YYYY HH:mm'
            });


            $('.send-out').click(function () {
                var id = $(this).attr('data-toggle');
                modal_text.text("").attr('class', '');
                airwaybill_hid.val(id);
                send_out_confirm_btn.prop('disabled', false);
                send_out_modal.modal('show');

                return false;
            });

            send_out_confirm_btn.click(function () {
                $(this).prop('disabled', true);

                id = airwaybill_hid.val();

                $.post("/api-ajax/air-waybill-send-out/" + id + "/", {
                    'send_out_time': send_out_dtpick.val()
                }, function (d) {
                    var code = d.code;
                    ajax_return_alert(modal_text, css[code], send_out_messages[code]);

                    if (code == 0) {
                        setTimeout(function () {
                            send_out_modal.modal('hide');
                            location.reload();
                        }, 2000);
                    }
                });
                return false;
            });

            var cn_deliver_modal = $('#cn_deliver_modal');
            var cn_deliver_modal_confirm = $('#cn_deliver_modal_confirm');
            var cn_deliver_air_waybill_id = $('#cn_deliver_air_waybill_id');
            var cn_deliver_modal_body_text = $('#cn_deliver_modal_body_text');

            $('.cn-deliver').click(function () {
                var id = $(this).attr('data-toggle');
                cn_deliver_air_waybill_id.val(id);
                cn_deliver_modal_confirm.prop('disabled', false);
                cn_deliver_modal_body_text.text('').attr('class', '');
                cn_deliver_modal.modal('show');
            });


            cn_deliver_messages = {
                0: "转国内派送成功",
                1: "状态有误",
                2: "提单不存在"
            };

            cn_deliver_modal_confirm.click(function () {
                $(this).prop('disabled', true);

                id = cn_deliver_air_waybill_id.val();

                $.post("/api-ajax/air-waybill-cn-deliver/" + id + "/", {
                    "cn_deliver_time": cn_deliver_dtpick.val()
                }, function (d) {
                    var code = d.code;
                    ajax_return_alert(cn_deliver_modal_body_text, css[code], cn_deliver_messages[code]);

                    if (code == 0) {
                        setTimeout(function () {
                            cn_deliver_modal.modal('hide');
                            location.reload();
                        }, 2000)
                    }

                });
                return false;
            });

            $('.airline-update').click(function () {
                var id = $(this).attr('data-toggle');
                update_airline_waybill_id.val(id);
                update_airline_modal.modal('show');
            });

            update_airline_modal_confirm.click(function () {
                if (take_off_dtpick.val().trim() == '' || arrive_dtpick.val().trim() == '') {
                    ajax_return_alert(update_airline_modal_body_text, css[1], "起飞落地时间必填");
                    return;
                }


                $(this).prop('disabled', true);

                id = update_airline_waybill_id.val();

                $.post("/api-ajax/air-waybill-update-airline/" + id + "/", {
                    "take_off_time": take_off_dtpick.val(),
                    "arrive_time": arrive_dtpick.val(),
                }, function (d) {
                    ajax_return_alert(update_airline_modal_body_text, css[d.code], d.msg);

                    if (d.code == 0) {
                        setTimeout(function () {
                            update_airline_modal_confirm.modal('hide');
                            location.reload();
                        }, 2000)
                    }

                });
                return false;
            });

            exc_btn.click(function () {
                console.log('hey');
                action = action_select.val().trim();
                try {
                    if (action == "1") {
                        data = {
                            'dt_start': dt_start.val().trim(),
                            'dt_end': dt_end.val().trim(),
                            'channel_id': channel_sel.val(),
                            'status_id': status_sel.val(),
                            'air_waybill_no': search_input.val().trim()
                        };
                        $.ajax({
                            url: '/api-ajax/air-waybill-fee/',
                            type: 'POST',
                            dataType: 'json',
                            data: data,
                            processData: true,
                            success: function (data) {
                                file_action_msg.text(data.msg);
                                file_link.attr('href', data.link);
                                if (data.link == "")
                                    file_link.hide();
                                else file_link.show();
                                file_modal.modal('show');
                            },
                            error: function () {
                                alert('发生异常')
                            }
                        });
                    }
                } catch (e) {
                    console.log(e)
                }

                return false;
            });
        })
    </script>
{% endblock %}