{% extends "base.html" %}
{% block index_url %}/manage/{% endblock index_url %}
{% block navbar_style %}navbar-inverse{% endblock navbar_style %}
{% block brand %}士奇快递 后台{% endblock brand %}
{% block is_in_manage %}manage{% endblock is_in_manage %}
{% block role-function %}
    <ul class="nav navbar-nav navbar-right  ">
        {% if not request.user.is_authenticated %}
            <li><a href='{% url "manage-login" %}'>登陆</a></li>
        {% else %}
            {% if perms.waybills.check_in %}
                <li><a href='{% url "manage-waybill-check-in" %}'>入库</a></li>
            {% endif %}

            {% if perms.waybills.print_bills %}
                <li class="dropdown">
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">出单<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href='{% url "manage-waybills-bulk-print" %}'>批量出单</a></li>
                        <li><a href='{% url "manage-waybills-bulk-print-multi" %}'>批量多单</a></li>
                        <li><a href='{% url "manage-waybills-print-single-good" %}'>单个商品</a></li>
                        <li><a href='{% url "manage-waybills-print-multi-goods" %}'>多个商品</a></li>
                        <li><a href='{% url "manage-waybills-print-tracking" %}'>运单号</a></li>
                        <li><a href='{% url "manage-waybills-change-label" %}'>换单</a></li>
                        <li><a href='{% url "barcode-view" %}'>打条码</a></li>
                        <li><a href='{% url "manage-waybill-check-detail" %}'>查单</a></li>
                        <li><a href='{% url "manage-waybill-send-to-warehouse" %}'>发往集运仓</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if perms.waybills.audit %}
                <li><a href='{% url "manage-waybill-audit" %}'>审核</a></li>
            {% endif %}

            {% if perms.waybills.report_error %}
                <li class="dropdown">
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">异常处理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href='{% url "manage-waybill-error-report" %}'>拦截运单</a></li>
                        <li><a href='{% url "manage-exception-list" %}'>破损/丢件处理</a></li>
                    </ul>
                </li>


            {% endif %}

            {% if perms.waybills.create_pallet %}
                <li><a href='{% url "manage-pallet-create2" %}'>打板</a></li>

            {% endif %}

            {% if perms.waybills.manage_waybills %}
                <li><a href='{% url "manage-waybills" %}'>运单管理</a></li>
            {% endif %}

            {% if perms.waybills.manage_pallets %}
                <li><a href='{% url "manage-pallets" %}'>托盘管理</a></li>
            {% endif %}

            {% if perms.waybills.manage_air_waybills %}
                <li><a href='{% url "manage-air-waybill-list" %}'>提单管理</a></li>
            {% endif %}

            {% if perms.waybills.manage_performance %}
                <li><a href='{% url "manage-performance" %}'>绩效</a></li>

            {% endif %}

            {% if perms.waybills.manage_id_image %}
                <li><a href='{% url "review-id-image" %}'>审核身份证</a></li>
            {% endif %}

            <li><a href='{% url "manage-account" %}'>{{ request.user }}</a></li>
            <li><a href='{% url "manage-logout" %}'>登出</a></li>
        {% endif %}
    </ul>
{% endblock %}