{% load static %}

<audio id="sound_A">
    <source src='{% static "sound/A.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<audio id="sound_A1">
    <source src='{% static "sound/A1.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<audio id="sound_K2">
    <source src='{% static "sound/K2.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>
<audio id="sound_B">
    <source src='{% static "sound/B.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<audio id="sound_C">
    <source src='{% static "sound/C.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<audio id="sound_D">
    <source src='{% static "sound/D.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>


<audio id="sound_E">
    <source src='{% static "sound/E.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<audio id="sound_F">
    <source src='{% static "sound/F.mp3" %}' type="audio/mp3">D.mp3
    Your browser does not support the audio element.
</audio>

<audio id="sound_Y3">
    <source src='{% static "sound/Y3.mp3" %}' type="audio/mp3">
    Your browser does not support the audio element.
</audio>