{% load static %}

<!-- Footer -->
<footer class="footer">
{#    <div class="content-bottom-widgets">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="flat-wrapper">#}
{#                    <div class="ft-wrapper clearfix">#}
{#                        <div class="footer-50">#}
{#                            <div class="row">#}
{#                                <div class="col-md-4">#}
{#                                    <div class="counter">#}
{#                                        <div class="counter-image"><i class="fa fa-building-o"></i></div>#}
{#                                        <div class="numb-count" data-to="23" data-speed="3000"#}
{#                                             data-waypoint-active="yes">23#}
{#                                        </div>#}
{#                                        <div class="counter-title">#}
{#                                            Offices worldwide#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div><!-- /.col-md-4 -->#}
{##}
{#                                <div class="col-md-4">#}
{#                                    <div class="counter ft-style1">#}
{#                                        <div class="counter-image"><i class="fa fa-group"></i></div>#}
{#                                        <div class="numb-count" data-to="14" data-speed="3000"#}
{#                                             data-waypoint-active="yes">14#}
{#                                        </div>#}
{#                                        <div class="counter-title">#}
{#                                            Hardworking people#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div><!-- /.col-md-4 -->#}
{##}
{#                                <div class="col-md-4">#}
{#                                    <div class="counter ft-style2">#}
{#                                        <div class="counter-image"><i class="fa fa-globe"></i></div>#}
{#                                        <div class="numb-count" data-to="15" data-speed="3000"#}
{#                                             data-waypoint-active="yes">15#}
{#                                        </div>#}
{#                                        <div class="counter-title">#}
{#                                            Countries covered#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div><!-- /.col-md-4 -->#}
{#                            </div><!-- /.row -->#}
{#                        </div><!-- /.footer-50 -->#}
{##}
{#                        <div class="footer-50">#}
{#                            <div class="subscribe-form">#}
{#                                <div class="row">#}
{#                                    <div class="col-md-8">#}
{#                                        <input type="email" name="EMAIL" placeholder="Your email address"#}
{#                                               required="">#}
{#                                    </div><!-- /.col-md-8 -->#}
{##}
{#                                    <div class="col-md-4">#}
{#                                        <input type="submit" value="Subscribe">#}
{#                                    </div><!-- /.col-md-4 -->#}
{#                                </div><!-- /.row -->#}
{#                            </div><!-- /.subscribe-form -->#}
{#                        </div><!-- /.footer-50 -->#}
{#                    </div><!-- /.ft-wrapper -->#}
{#                </div><!-- /.flat-wrapper -->#}
{#            </div><!-- /.row -->#}
{#        </div><!-- /.container -->#}
{#    </div><!-- /.footer-widgets -->#}

    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widge widget_text">
                        <div class="textwidget">
                            <h2>HuskyEx<br>士奇快递</h2>
                        </div>
                    </div><!-- /.widget_text -->
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <div class="widget widget_recent_entries">
                        <h4 class="widget-title">关于我们</h4>
                        <ul>
                            <li><a href="{% url 'about' %}#intro">企业概况</a></li>
                            <li><a href="{% url 'about' %}#idea">企业理念</a></li>
                            <li><a href="{% url 'about' %}#contact">联系我们</a></li>
                        </ul>
                    </div><!-- /.widget_recent_entries -->
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <div class="widget widget_nav_menu">
                        <h3 class="widget-title">服务支持</h3>
                        <div class="menu-footer-menu-container">
                            <ul class="menu-footer-menu">
                                <li><a href="{% url 'service' %}#insurance">投保说明</a></li>
                                <br>
                                <li><a href="{% url 'service' %}#disclaimer">免责条款</a></li>
                                <br>
                                <li><a href="{% url 'service' %}#terms">网站服务条款</a></li>
                                <br>
                                <li><a href="{% url 'service' %}#forbidden">违禁品说明</a></li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <div class="widget widget_text information">
                        <h3 class="widget-title">联系我们</h3>
                        <div class="textwidget">
                            <p><strong>STM Group Inc, <br>77 Glendale Ave,Edison, Edison Business Park, NJ 08817
                            </strong></p>
                            <p>
                                <i class="fa fa-phone"></i>(732)-317-4312<br>
                                <i class="fa fa-qq" aria-hidden="true"></i><a href="tencent://message/?uin=3259818188">3259818188</a><br>
                                <i class="fa fa-envelope"></i><a href="mailto:info@huskyex.com">info@huskyex.com</a>
                            </p>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-content -->

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="flat-wrapper">
                    <div class="ft-wrap clearfix">
                        {#                        <div class="social-links">#}
                        {#                            <a href="#"><i class="fa fa-twitter"></i></a>#}
                        {#                            <a href="#"><i class="fa fa-facebook-official"></i></a>#}
                        {#                            <a href="#"><i class="fa fa-google-plus"></i></a>#}
                        {#                            <a href="#"><i class="fa fa-pinterest"></i></a>#}
                        {#                        </div>#}
                        <div class="copyright">
                            <div class="copyright-content">
                                STM Group Inc, 77 Glendale Ave, Edison Business Park, Edison, NJ 08817<br>
                                Copyright © <a href="#">Huskyex</a> 2017

                            </div>
                        </div>
                    </div><!-- /.ft-wrap -->
                </div><!-- /.flat-wrapper -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-content -->
</footer>
